<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    i {
    border: solid teal;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-left:5px;
    text-decoration: underline;
   }
   .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
  #location-list:hover {
    background-color: white;
  }
  #homepage:hover {
    background-color: black;
  }
  </style>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand"id="homepage" href="{% url 'home' %}" style="background-color:antiquewhite;font-weight:bolder;font-size:25px; color: rgb(62, 235, 235);;text-decoration:underline; border-radius:4px;
      font-family:'Segoe UI';">HOME</a>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto" >
          <li class="nav-item dropdown"  id="location-list">
              
            <a class="nav-link dropdown-toggle navbar-brand text-center" href="{% url 'home' %}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color:black; font-weight:bolder;font-size:25px;color: rgb(62, 235, 235); text-decoration:underline; border-radius:4px; font-family:'Segoe UI'; margin-left:25px;">
              LOCATION<i class="arrow down"></i>
            </a>
            <div class="dropdown-menu"  aria-labelledby="navbarDropdown" style="background-color:black; border-radius:4px; margin-left:25px;">
              {%for location in image_locations%}
              <ul id="location-list" style="padding:0; margin-bottom:2px; margin-left:4px; ">
                <li>
                  <a class="dropdown-item"  href="/location/{{location.id}}" style="font-size:23px; color:teal; text-transform:capitalize; font-family:'Segoe UI'; margin-bottom:5px;">{{location.pic_location}}</a>
                </li>
              </ul>
              {% endfor %}
              </div>
                
          </li>
          
    
        </ul>
        <form class="form-inline text-center" role="search" action="{% url 'search_images' %}" style=" border-radius:5px;">
            <input class="form-control search-input text-center" name="category" type="search" placeholder="SEARCH CATEGORY" aria-label="Search" style="width:200px;height:50px;background-color:antiquewhite; font-weight:bolder;font-size:16px;color:teal; text-decoration:underline;">
        </form>
      </div>
      
</nav>
</body>
</html>


